/**********************
* GLOBALS
*********************/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
    color: $color-primary;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
    color: $color-secondary;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  p {
    line-height: 1.5;
  }
}

img {
  width: 100%;
}