/*****************
*VARIABLES
****************/

// url 
// $url-image: "https://loremflickr.com";
// colors
$color-primary: #1F3F68;
$color-secondary: #356EAD;
$bg-color: #316099;
$white-color: #fff;
// container 
// color link 
$nav-color-link: blue;
$nav-color-link-hover: red;