/*****************
*LOGO
*****************/

.logo div {
  background-color: $bg-color;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  div {
    background-color: $white-color;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: 1.2rem;
    border: 2px solid $bg-color;
    box-sizing: border-box;
    position: relative;

    span {
      font-size: 1.5rem;
      position: absolute;
      top: .2rem;
      left: .3rem;
    }
  }
}