/**********
*SEARCH
*********/

form {
  position: relative;
  margin: 2.5rem 0;
  input {
    padding: .6rem 2rem;
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
  }
  .icon-search {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #1F3F68;
  }
}