/**********
*BANNER
*********/

.banner {
  background-image: url(../images/banner.png);
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  h1 {
    margin: 2rem 0;
  }
}