/**********************
* POST ALL
*********************/

.container-all-article article {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  @media (max-width: 540px) {
    & {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

section article .info-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .8rem 0 .8rem .8rem;
}

section article .info-post h2 {
  margin-bottom: .7rem;
  font-size: 1.4rem;
  color: #1F3F68;
}


/* old-next-post  */

.old-post {
  @media (max-width: 540px) {
    display: none;
  }
}

.old_next-post {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  @media (max-width: 540px) {
    & {
      justify-content: flex-end;
    }
  }
}

.old_next-post a {
  color: #356EAD;
  letter-spacing: 0.04em;
}